bin/configlet
bin/configlet.exe

bin/Generator

# Xcode
.swiftpm
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
DerivedData
*.hmap
*.ipa
*.xcuserstate
.DS_Store

# VS Code
.vscode

# Idea IDE
.idea

# Swift
.build
Package.resolved
xswift.xcodeproj/
