language: generic

before_install:
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then gem install danger ; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update ; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew outdated swiftlint || brew upgrade swiftlint ; fi
    
matrix:
  include:
    - script: 
        - swiftlint lint --quiet >> lintreport.json || true # Dont crash on errors
        - ls
        - python -m json.tool lintreport.json
        - ./xswift-test-spm
      env: JOB=SPM
      os: osx
      osx_image: xcode9
    - script:
        - bin/fetch-configlet
        - bin/configlet lint .
        - docker run -v `pwd`:/swift norionomura/swift:4020170908a bash -c "cd /swift && ./xswift-test-spm"
      env: JOB=Linux40
      sudo: required
      services: docker
    - script:
        - bin/fetch-configlet
        - bin/configlet lint .
        - docker run -v `pwd`:/swift norionomura/sourcekit:31 bash -c "cd /swift && ./xswift-test-spm"
      env: JOB=Linux310
      sudo: required
      services: docker

after_success:
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then danger  ; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ls -al   ; fi



