language: objective-c
osx_image: xcode8
xcode_project: 'xcodeProject/xSwift.xcodeproj'
xcode_scheme: 'xSwiftTests'

install:
  - $ brew update && brew install swiftlint

script:
  - swiftlint
  - xcodebuild test -project 'xcodeProject/xSwift.xcodeproj' -scheme 'xSwiftTests' -sdk macosx10.12
  - bin/fetch-configlet
  - bin/configlet .
sudo: false
