language: objective-c
osx_image: xcode8
xcode_project: 'xcodeProject/xSwift.xcodeproj'
xcode_scheme: 'xSwiftTests'

before_install:
  - gem install danger xcpretty xcpretty-json-formatter
  - brew update
  - brew outdated swiftlint || brew upgrade swiftlint

script:
  - bin/fetch-configlet
  - bin/configlet .
  - xcodebuild test -project 'xcodeProject/xSwift.xcodeproj' -scheme 'xSwiftTests' | xcpretty -f `xcpretty-json-formatter`
  - swiftlint lint --quiet 2> build/reports/lintreport.json 
  - danger

after_success:
  - ls -al
  - python -m json.tool build/reports/lintreport.json
