language: generic

matrix:
  include:
    - script:
        - bin/fetch-configlet
        - bin/configlet lint .
        - docker run -v `pwd`:/swift swift:4.0.2 bash -c "cd /swift && ./xswift-test-spm"
      env: JOB=Linux40
      sudo: required
      services: docker
    - script:
        - bin/fetch-configlet
        - bin/configlet lint .
        - docker run -v `pwd`:/swift norionomura/swift:swift-4.2-branch bash -c "cd /swift && swift test --verbose"
      env: JOB=Linux42x
      sudo: required
      services: docker
    - script:
        - bin/fetch-configlet
        - bin/configlet lint .
        - docker run -v `pwd`:/swift norionomura/swift:swift-4.1-branch bash -c "cd /swift && ./xswift-test-spm"
        - cat ./Tests/LinuxMain.swift
      env: JOB=Linux41x
      sudo: required
      services: docker


