name: CI

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-13
    env:
      RUNALL: "true"
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Run tests
        run: swift test
  generator-tests:
    runs-on: macos-15
    env:
      RUNALL: "true"
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Run tests
        run: swift test --package-path ./generator
  generator-template-tests:
    runs-on: macos-15
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Run tests
        run: ./bin/test_generator.sh
