name: CI

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test:
    name: Swift ${{ matrix.swift }} on ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15]
        swift: ["6.0"]
    runs-on: ${{ matrix.os }}
    env:
      RUNALL: "true"
    steps:
      - uses: swift-actions/setup-swift@v2
        with:
          swift-version: ${{ matrix.swift }}
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Run tests
        run: swift test

  generator-tests:
    runs-on: macos-15
    env:
      RUNALL: "true"
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Run tests
        run: swift test --package-path ./generator
  generator-template-tests:
    runs-on: macos-15
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Run tests
        run: ./bin/test_generator.sh
